{deps, [
    {meck, {git, "https://github.com/eproxus/meck", {tag, "0.9.2"}}}
]}.
{plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {main, "README.md"},
    {extras, [
        "README.md",
        {"docs/builtin-validators.md", #{title => "Built-in Validators"}},
        {"docs/custom-validator.md", #{title => "Custom Validator"}}
    ]},
    {source_url, "https://github.com/erlangsters/term-validator"}
]}.
