{deps, []}.

{profiles, [
    {test, [
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck", {tag, "v1.2.0"}}}
        ]}
    ]}
]}.

{plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {main, "README.md"},
    {extras, [
        "README.md",
        {"docs/builtin-validators.md", #{title => "Built-in Validators"}},
        {"docs/custom-validator.md", #{title => "Custom Validator"}}
    ]},
    {source_url, "https://github.com/erlangsters/term-validator"}
]}.
